name: Rust

permissions:
  pull-requests: write
  contents: write

on:
  push:
    branches: [main]
  pull_request:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-D warnings"
  RUST_BACKTRACE: short

jobs:
  check:
    name: Clippy and fmt check
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install libudev (Linux only)
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y libudev-dev libsystemd-dev

      # NOTE: using 1.86.0 toolchain to ensure it compiles with contracts.
      # will be changed to stable once contract compilation will be fixed.
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@1.86.0
        with:
          components: clippy, rustfmt

      - uses: swatinem/rust-cache@v2
        with:
          shared-key: ${{ runner.os }}
          save-if: ${{ github.ref == 'refs/heads/main' }}
          cache-on-failure: true

      - name: Run clippy
        run: cargo clippy --all-targets --all-features -- -D clippy::all

      - name: Run cargo fmt
        run: cargo fmt --all --check

  test-platforms:
    name: Test code on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install libudev-dev (Linux only)
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y libudev-dev libsystemd-dev

      # NOTE: using 1.86.0 toolchain to ensure it compiles with contracts.
      # will be changed to stable once contract compilation will be fixed.
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@1.86.0

      - uses: swatinem/rust-cache@v2
        with:
          shared-key: ${{ runner.os }}
          save-if: ${{ github.ref == 'refs/heads/main' }}
          cache-on-failure: true

      - name: Run Tests
        run: cargo test --all-features -- --nocapture

  # there're sometimes warnings, which signal, that the generated doc
  # won't look as expected, when rendered, and sometimes errors, which will prevent doc from being
  # generated at release time altogether.
  check-doc:
    name: Compile documentation
    runs-on: ubuntu-24.04
    env:
      RUSTDOCFLAGS: "-D warnings"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install libudev (Linux only)
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y libudev-dev libsystemd-dev

      # NOTE: using 1.86.0 toolchain to ensure it compiles with contracts.
      # will be changed to stable once contract compilation will be fixed.
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@1.86.0

      - uses: swatinem/rust-cache@v2
        with:
          shared-key: ${{ runner.os }}
          save-if: ${{ github.ref == 'refs/heads/main' }}
          cache-on-failure: true

      - name: Run cargo doc
        run: cargo doc

  check-examples:
    name: Compile and run examples
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-latest]
    needs: [check, test-platforms, check-doc]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install libudev (Linux only)
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y libudev-dev libsystemd-dev

      # NOTE: using 1.86.0 toolchain to ensure it compiles with contracts.
      # will be changed to stable once contract compilation will be fixed.
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@1.86.0

      - uses: swatinem/rust-cache@v2
        with:
          shared-key: ${{ runner.os }}
          save-if: ${{ github.ref == 'refs/heads/main' }}
          cache-on-failure: true

      - name: Run examples
        run: |
          cd examples
          ./run_all.sh

  release-plz:
    name: Release-plz
    runs-on: ubuntu-24.04
    needs: [check, check-doc, test-platforms, check-examples]
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.RELEASE_PLZ_GITHUB_TOKEN }}

      - name: Install libudev (Linux only)
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y libudev-dev libsystemd-dev

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Run release-plz
        uses: release-plz/action@v0.5
        env:
          # https://release-plz.ieni.dev/docs/github/trigger
          GITHUB_TOKEN: ${{ secrets.RELEASE_PLZ_GITHUB_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
